
:root {
    --slidev-code-background: #f9f4ef;
    --slidev-code-font-size: 20px;
    --table-theme-color: rgb(189, 191, 194);
}


/* inline code blocks */
.slidev-layout :not(pre) > code {
    font-size: 0.8em;
    background: var(--neversink-bg-code-color);
  }

.slidev-layout {
    margin-top: 0px;
    padding: 0;
    display: grid;
    grid-template-columns: 2.75% 5.5% 83.5% 5.5% 2.75%;
    grid-template-rows: 4.62% 6.09% 78.58% 1.52% 9.19%;

    h1 + p {
        margin-bottom: 0.5em;
    }

    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    ul {
        list-style: inherit;

        ul {
            list-style: circle;
            ul {
                list-style: "-";
            }
        }
    }

    table {
        align-self: center;
        width: fit-content;
        font-size: 0.9rem;
        color: var(--table-theme-color);
        thead > tr {
            border-bottom: 3px solid color-mix(in srgb, currentColor 40%, transparent);
            > th {
                font-weight: 600;
                padding: 4px 12px;
                color: #000;
            }
        }
        tbody {

            > tr:nth-child(odd) {
                background: rgb(156 163 175 / 0.1);
                background: color-mix(in srgb, currentColor 10%, transparent);
            }
            
            > tr {
                border-bottom-width: 0;
                > td {
                    padding: 4px 12px;
                    color: #000;
                }
            }
            
        }
    }
}

.slidev-layout.default {
    /* grid-column: 2 / span 3;
    grid-row: 2 / span 3; */
    border: 2pt solid #7BA8BA;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.slidev-layout--horlines:before {
    content: '';
    border-top: 2pt solid #7BA8BA;
    grid-area: 2 / 1 / span 1 / span 1;
}

.slidev-layout--horlines:after {
    content: '';
    border-bottom: 2pt solid #7BA8BA;
    grid-area: 4 / 5 / span 1 / span 1;
}



.title-container {
    width: 100%;
    border: none;
    background-color: #e6edf1;
    padding: 0;
    margin: 0;
    height: 13.91%;

}

/* Title styling */
.title-container h1 {
    height: 100%;
    margin: 0;
    color: #000;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
  }

/* Content container */
.slidev-layout.default > .content-container {
    padding: 2rem;
    padding-bottom: 0.2rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;

    h1 {
        display: none;
        margin: 0;
        padding: 0;
        content: "";
    }

    p:first-of-type, h1 + ul {
        margin-top: 0;
    }

    * + #footnotes {
        margin-top: auto;
    }

    span.katex-display {
        margin: 0 0;
    }

    div.slidev-katex-wrapper > p {
        margin-bottom: 0;
    }
}
.slidev-layout > .default > .content-container.footnotes {
    flex-grow: 0;
    padding: 0;
    justify-content: bottom;
    ul {
        margin-top: 0;
    }
  }

.slidev-layout--vertlines:before {
    content: '';
    border-left: 2pt solid #7BA8BA;
    grid-area: 1 / 3 / span 2 / span 1;
}

.slidev-layout--vertlines:after {
    content: '';
    border-right: 2pt solid #7BA8BA;
    grid-area: 4 / 3 / span 2 / span 1;
}

.slidev-layout.cover,
.slidev-layout.section {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    border: 2pt solid #7BA8BA;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 84px auto;
}

.slidev-layout.section.section-container {

    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 2rem 3rem;
    padding-top: 5.1rem;
    display: flex;
    border: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
        font-weight: bold;
        font-size: 32pt;
        padding-bottom: 0.5rem;
        line-height: normal;
        max-width: 640px;
    }
    
    h2 {
        font-size: 18pt;
        font-weight: 300;
        padding-bottom: 1rem;
        max-width: 700px;
        color: #767676;
        line-height: normal;
    }

    h3, p {
        font-size: 14pt;
        font-weight: 300;
        color: #767676;
        line-height: normal;
    }
}

.slidev-layout.section.square {
    background-color: #7BA8BA;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    color: white;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.slidev-layout.cover.background {
    grid-column: 1 / span 5;
    grid-row: 1 / span 5;
    z-index: -1;
    border: none;
}

.slidev-layout.cover.cover-container {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    border: none;
    padding: 2rem 3rem;
    padding-top: 4rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    p {
        font-weight: 300;
        letter-spacing: 0;
        font-size: 14pt;
    }
}

.institutes-cover {
    font-weight: 300;
    font-size: 12pt;
}

.slidev-layout.cover.cover-container.title-container {
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
    background: none;

    h1 {
        padding: 0;
        font-weight: bold;
        font-size: 34pt;
        padding-bottom: 0.5rem;
        max-width: 640px;
        border: none;
        margin: 0;
        line-height: normal;
        height: auto;
    }
    
    h2 {
        font-size: 20pt;
        font-weight: 300;
        max-width: 700px;
        color: #767676;
        border: none;
        margin: 0;
        flex-grow: 0;
    }
}


.slidev-layout.footer {
    grid-column: 1 / span 5;
    grid-row: 5 / span 1;
    color: #767676;
    font-size: small;
    padding: 0 1.5rem;
    display: flex;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    justify-content: space-between;

    #logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
    }

    #author-meeting {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 4;
    }

    #date-slide {
        padding-right: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }
}

.iframe-content {

    border: none;

    div ~ div {
        padding-left: 2em;
    }
    
}

div.left-col, div.right-col {
    ul:first-of-type {
      margin-top: 0;
    }
  }


.no-bullets ul {
    list-style-type: none;
}
